<h3>Hi <%= email %></h3>
<br/>
You've been invited to use <strong>IoT analytics</strong> for the account <%= accountName %>.
<br/>
Visit
<a href="<%= host %>"><%= host %></a>
 and log in with your email address to accept or drop invitation.
<br/>
If you haven't registered for this page yet, please sign up and log in to accept invitation.
<br />
Thanks!
<br/>
<br/>
<%= footer %>