<h3>Hi <%= email %></h3>
<br/>
We've received a request to change your password on <strong>IoT analytics</strong>.
<br/>
<br/>
Click the link below to set a new password:
<br/>
<a href="<%= host %><%= path %><%= token %>"><%= host %><%= path %><%= token %></a>
<br/>
If the link doesn't work, copy and paste the entire URL into your browser's address bar and press Enter.
<br/>
If you did not request this email then please ignore it.
<br/>
<br/>
Thanks!
<br/>
<br/>
<%= footer %>