<h2>Alert Monitor</h2>
<h3>Hi <%= email %></h3>
<br/>
Alert Monitor has received an alert. Alert data:
<br/><br/>
<strong>- Alert Id: </strong><%= data.alertId %>
<br/>
<strong>- Device: </strong><%= data.deviceId %>
<br/>
<strong>- Reason: </strong><%= data.naturalLangAlert %>
<br/>
<strong>- Priority: </strong><%= data.priority %>
<br /><br />
<table border="1">
    <caption><strong>Alert Data</strong></caption>
    <tr>
        <td><strong>Component Name</strong></td>
        <td><strong>Values</strong></td>
    </tr>
<%for(var k = 0; k < data.conditions.length; k++) {%>
    <% for(var i = 0; i < data.conditions[k].components.length; i++) { %>
        <tr>
            <td><%= data.conditions[k].components[i].componentName %></td>
            <td>
                <% for(var j = 0; j < data.conditions[k].components[i].valuePoints.length; j++) {%>
                <%= data.conditions[k].components[i].valuePoints[j].value%>;
                <br />
                <% } %>
            </td>
        </tr>
    <% } %>
<% }
%>
</table>
<br /><br />
You can go <a href="<%= data.host %>/ui/dashboard#/alerts/edit/<%= data.alertId %>">here</a> to check it on Dashboard
<br/>
Regards
<br/>
<br/>
<%= footer %>